# Directorios generados por Elixir y Mix
/_build
/deps

# Archivos generados por el compilador Erlang
*.beam

# Archivos de configuración específicos del entorno
*.exs~

# Archivos temporales de editores y sistemas operativos
.DS_Store
*.swp
*.tmp

# Directorios y archivos de herramientas de desarrollo
/.idea
/.vscode
*.sublime-workspace
*.sublime-project

# Cobertura de pruebas
/cover/

# Otros archivos generados
*.log
*.lock
