# Directorios generados por Elixir
/_build/
/deps/
/*.ez

# Archivos de compilación de Elixir
*.beam

# Archivos y directorios de Phoenix
/priv/static/assets/
/priv/static/cache_manifest.json

# Archivos generados por Node.js (si usas Node para gestionar assets)
 /assets/node_modules/
/assets/brunch-config.js
/assets/package-lock.json
/assets/yarn.lock

# Archivos de configuración de herramientas de desarrollo
/.elixir_ls/
/.vscode/
/.idea/
/*.sublime-project
/*.sublime-workspace

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales de editores
*~
*.swp
*.swo

# Logs y otros archivos de runtime
/log/
/tmp/
